@font-face {
    font-family: 'AktivGrotesk';
    src: url(../fonts/AktivGrotesk.woff2);
}
@font-face {
    font-family: 'TuskerGrotesk';
    src: url(../fonts/TuskerGrotesk.woff2);
}
@font-face {
    font-family: 'NeutralFace';
    src: url(../fonts/NeutralFace.woff);
}
@font-face {
    font-family: 'Pretendard-Medium';
    src: url(../fonts/Pretendard-Medium.woff);
}